# Python
__pycache__/
*.py[cod]
*.so
*.log

# Virtual environment
.venv/
env/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.json

# Cache and temporary files
*.bak
*.tmp
.DS_Store
Thumbs.db
